<div class="container mt-5">
    <h2 class="text-center mb-4">Makale Ekle</h2>
    <div class="card article-card p-4">
      <form [formGroup]="articleForm" (ngSubmit)="addArticle()">
        <div class="mb-3">
          <label for="title" class="form-label">Başlık</label>
          <input type="text" id="title" class="form-control" formControlName="title" placeholder="Başlığı girin">
          <div *ngIf="articleForm.get('title')?.invalid && articleForm.get('title')?.touched" class="text-danger">
            Bu alan zorunludur.
          </div>
        </div>
  
        <div class="mb-3">
          <label for="category" class="form-label">Kategori</label>
          <select id="category" formControlName="categoryId" class="form-control" required>
            <option value="" disabled selected>Kategori seçin</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
          <div *ngIf="articleForm.get('categoryId')?.invalid && articleForm.get('categoryId')?.touched" class="text-danger">
            Bu alan zorunludur.
          </div>
        </div>
  
        <div class="mb-3">
          <label for="description" class="form-label">Açıklama</label>
          <textarea id="description" class="form-control" formControlName="description" rows="4" placeholder="Açıklamayı girin"></textarea>
          <div *ngIf="articleForm.get('description')?.invalid && articleForm.get('description')?.touched" class="text-danger">
            Bu alan zorunludur.
          </div>
        </div>
  
        <div class="mb-3">
          <label for="content" class="form-label">PDF Yükle</label>
          <input type="file" id="content" class="form-control" (change)="onFileSelected($event)" accept="application/pdf">
        </div>
  
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary" [disabled]="isLoading">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Makale Ekle
          </button>
        </div>
  
        <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </div>
  