.container {
    background-color: #f8f9fa; /* Açık gri arka plan */
    padding: 20px;
  }
  
  .research-card {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .research-card:hover {
    transform: translateY(-5px);
  }
  
  .research-card h5 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .research-card p {
    font-size: 1rem;
    color: #6c757d;
  }
  
  .badge {
    font-size: 0.875rem;
  }
  
  .btn-outline-primary {
    padding: 0.5rem 1.5rem;
  }

  .custom-dropdown {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-label {
    font-weight: bold;
    font-size: 1.2rem;
    color: #495057;
  }
  
  .custom-select {
    border-radius: 8px;
    font-size: 1rem;
    padding: 8px 16px;
    transition: all 0.3s ease;
  }
  
  .custom-select:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 8px rgba(13, 110, 253, 0.5);
  }
  
  .dropdown-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-container:after {
    content: '\25BC'; /* Dropdown arrow */
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1rem;
    color: #6c757d;
  }

  .search-box-wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .search-box {
    width: 100%;
    padding: 15px;
    font-size: 1.25rem;
    border-radius: 8px;
  }

  .status-badge {
    font-size: 0.875rem; /* Yazı boyutu */
    border-radius: 0.5rem; /* Köşe yuvarlama */
    padding: 0.3rem 0.6rem; /* İç boşluk */
    display: inline-block; /* Inline olmasını sağlar */
    text-align: center;
    white-space: nowrap; /* Satır taşmasını engeller */
    margin-top: 0; /* Üst boşluğu sıfırladık */
  }
  
  
  .bg-success {
    background-color: #28a745 !important; /* Özel yeşil */
    color: #ffffff !important; /* Beyaz yazı */
  }
  
  .bg-warning {
    background-color: #ffc107 !important; /* Özel turuncu */
    color: #ffffff !important; /* Beyaz yazı */
  }



  .research-options{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    margin-right: 20px;
  }






  .options-button {
    
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    z-index: 100;
    border-radius: 70%;
    
  }
  .options-button:hover{
    background-color: #c7c9cb;
    

  }
  
  .dot {
    width: 6px;
    height: 6px;
    background-color: #333;
    margin: 2px 0;
    border-radius: 50%;
  }
  
  .dropdown-menu {
    position: flex;
    top: 30px;
    left: 0;
    background-color: black;
    border: 1px solid #b90d0d;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 120px;
    z-index: 999;
  }

  .dropdownmenu {
    background-color: #ffffff; /* Beyaz arka plan */
    z-index: 999;
    padding: 15px;
    border-radius: 8px; /* Yuvarlatılmış köşeler */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    width: 200px; /* Menü genişliği */
    transition: all 0.3s ease-in-out; /* Yavaşça geçiş efekti */
  }
  
  /* Menüdeki liste öğeleri için stil */
  .dropdownmenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Her bir liste öğesi için stil */
  .dropdownmenu li {
    padding: 12px;
    cursor: pointer;
    width: 100%; /* Her elemanı menünün tam genişliğinde yapar */
    text-align: center; /* Yazıyı ortalar */
    font-weight: bold; /* Yazıyı kalın yapar */
    font-size: 14px;
    color: #333; /* Koyu gri metin rengi */
    transition: background-color 0.3s, transform 0.2s; /* Hover efekt geçişi */
    border-radius: 6px; /* Yuvarlatılmış kenarlar */
  }
  
  /* Hover efekti */
  .dropdownmenu li:hover {
    background-color: #f2f2f2; /* Hover'da arka plan rengini değiştirir */
    transform: scale(1.05); /* Hover'da hafif büyütme efekti */
  }


  .deleteBbutton {
    color: #ff4d4d; /* Kırmızı yazı rengi */
    background-color: rgb(255, 0, 0); /* Beyaz arka plan rengi */
    padding: 10px;
    font-weight: bold;
    border-radius: 6px; /* Yuvarlatılmış köşeler */
    text-align: center;
    cursor: pointer;
    border: 2px solid #ff4d4d; /* Kırmızı sınır */
    transition: background-color 0.3s, transform 0.2s; /* Hover geçişi */
  }
  
  /* 'Sil' butonuna hover efekti */
  .deleteButton:hover {
    background-color: #ff4d4d; /* Hover'da kırmızı arka plan */
    color: white; /* Hover'da yazıyı beyaz yap */
    transform: scale(1.05); /* Hover'da hafif büyütme */
  }
  
  
  
  
  /* Durum metninin stil ayarları */
  
  