
<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>
<div class="container mt-5" *ngIf="research">
  <!-- Araştırma Detayları -->
  <div class="card p-4 mb-4">
      <h3 class="text-center">{{ research.title }}</h3>
      <div class="text-center text-muted">{{ research.publishedAt | date: 'dd.MM.yyyy' }}</div>
      <p class="mt-3">{{ research.description }}</p>
      <div class="d-flex justify-content-between">
          <span class="badge bg-primary">{{ research.categoryName }}</span>
          <span class="badge bg-secondary">{{ research.participationType }}</span>
          <span class="badge bg-info">{{ research.status }}</span>
      </div>
  </div>

  <!-- Katılım Formu Kutucuğu -->
  <div  class="card p-4 mt-4">
      <h5>Katılım Formu</h5>
      <button *ngIf="research.isCompleted==true" class="btn btn-outline-primary mt-2" (click)="goToParticipationFormPage()">Araştırmaya katıl</button>
      <button *ngIf="research.isCompleted==false" class="btn btn-outline-primary mt-2"(click)="toggleQuestions()">{{ showQuestions ? 'Soruları Gizle' : 'Soruları Görüntüle' }}</button>
  
    </div>


  <div *ngIf="showQuestions" class="questions-container">
    <h3>Sorular:</h3>
  
    <!-- Soruların olup olmadığını kontrol et -->
    <div *ngIf="research && research.questions">
        <div *ngIf="research.questions.length === 0">
            <h5>Henüz Eklenmiş Soru Yok.</h5>
            <button class="btn btn-outline-primary"(click)="goToFormPage()">Soru ekle</button>
        </div>
        <ul *ngIf="research.questions.length > 0">
            <li *ngFor="let question of research.questions; let i = index" class="question-item">
                <strong>Soru {{ i + 1 }}: {{ question.questionText }}</strong>
                <ul>
                    <li *ngFor="let option of question.options" class="option-item" >{{ option.optionText }}</li>
                </ul>
            </li>
        </ul>
    </div>
  </div>
  
    <!-- Publish Button -->
    <div *ngIf="research && research.isCompleted === true">
      <div class="d-flex justify-content-end mt-4">
        <div class="publish-button">
            <button class="btn btn-outline-primary"(click)="changeStatusResearch()">Yayınlamayı İptal Et</button>
        </div>
    </div>
  </div>
     
    <div *ngIf="research && research.isCompleted === false">
      <div class="d-flex justify-content-end mt-4">
        <div class="publish-button">
            <button class="btn btn-outline-primary"(click)="changeStatusResearch()">Yayınla</button>
        </div>
    </div>
  </div>
    



</div>


