<div class="container mt-5" *ngIf="research">
  <!-- Araştırma Detayları -->
  <div class="card p-4 mb-4">
      <h1 class="text-center">{{ research.title }}</h1>
      <div class="text-center text-muted">{{ research.publishedAt | date: 'dd.MM.yyyy' }}</div>
      <h2 class="mt-3">{{ research.description }}</h2>
      <div class="d-flex justify-content-between">
          <span class="badge bg-primary">{{ research.categoryName }}</span>
          <span class="badge bg-secondary">{{ research.participationType }}</span>
          <span class="badge bg-info">{{ research.status }}</span>
      </div>
  </div>

  <!-- Katılım Şartları ve Soruların Yan Yana Düzeni -->
  <div class="row">
    <!-- Katılım Şartları -->
    <div class="col-md-6">
      <div class="card p-4 h-100">
        <h5>Araştırma Katılım Şartları</h5>
        <button class="btn btn-outline-primary mt-2" (click)="toggleResearchRequirements()">
          Katılım Şartlarını Görüntüle
        </button>

        <div *ngIf="showResearchRequirements">
          <h5 class="mt-3">Katılım Şartları</h5>
          
          <!-- Şartlar Yoksa -->
          <div *ngIf="isEmptyResearchRequirements()">
            <p><strong>Katılım Şartı Eklenmemiş.</strong></p>
            <button class="btn btn-outline-primary" (click)="goToResearchRequirementsCreationPage()">Şartları Oluştur</button>
          </div>

          <div *ngIf="researchRequirements">
            <div *ngIf="researchRequirements.minAge != null">
              <strong>Minimum Yaş:</strong> {{ researchRequirements.minAge }}
            </div>
            <div *ngIf="researchRequirements.maxAge != null">
              <strong>Maksimum Yaş:</strong> {{ researchRequirements.maxAge }}
            </div>
            <div *ngIf="researchRequirements.gender != null">
              <strong>Cinsiyet:</strong>
              <ul>
                <li *ngFor="let gender of transformEnumToString(researchRequirements.gender, 'gender')">{{ gender }}</li>
              </ul>
            </div>
            <div *ngIf="researchRequirements.location != null">
              <strong>Konum:</strong>
              <ul>
                <li *ngFor="let location of transformEnumToString(researchRequirements.location, 'location')">{{ location }}</li>
              </ul>
            </div>
            <div *ngIf="researchRequirements.educationLevel != null">
              <strong>Eğitim Seviyesi:</strong>
              <ul>
                <li *ngFor="let education of transformEnumToString(researchRequirements.educationLevel, 'educationLevel')">{{ education }}</li>
              </ul>
            </div>
            <div *ngIf="researchRequirements.occupation != null">
              <strong>Meslek:</strong>
              <ul>
                <li *ngFor="let occupation of transformEnumToString(researchRequirements.occupation, 'occupation')">{{ occupation }}</li>
              </ul>
            </div>
            <div *ngIf="researchRequirements.ethnicity != null">
              <strong>Etnik Köken:</strong>
              <ul>
                <li *ngFor="let ethnicity of transformEnumToString(researchRequirements.ethnicity, 'ethnicity')">{{ ethnicity }}</li>
              </ul>
            </div>
            <div *ngIf="researchRequirements.maritalStatus != null">
              <strong>Medeni Durum:</strong>
              <ul>
                <li *ngFor="let status of transformEnumToString(researchRequirements.maritalStatus, 'maritalStatus')">{{ status }}</li>
              </ul>
            </div>
            <div *ngIf="researchRequirements.parentalStatus != null">
              <strong>Anne/Baba Durumu:</strong>
              <ul>
                <li *ngFor="let status of transformEnumToString(researchRequirements.parentalStatus, 'parentalStatus')">{{ status }}</li>
              </ul>
            </div>
            <div *ngIf="researchRequirements.childStatus != null">
              <strong>Çocuk Durumu:</strong>
              <ul>
                <li *ngFor="let status of transformEnumToString(researchRequirements.childStatus, 'childStatus')">{{ status }}</li>
              </ul>
            </div>
            <div *ngIf="researchRequirements.disabilityStatus != null">
              <strong>Engellilik Durumu:</strong>
              <ul>
                <li *ngFor="let status of transformEnumToString(researchRequirements.disabilityStatus, 'disabilityStatus')">{{ status }}</li>
              </ul>
            </div>
            <div *ngIf="researchRequirements.housingType != null">
              <strong>Konaklama Türü:</strong>
              <ul>
                <li *ngFor="let housing of transformEnumToString(researchRequirements.housingType, 'housingType')">{{ housing }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sorular -->
    <div class="col-md-6">
      <div class="card p-4 h-100">
        <h5>Katılım Formu</h5>
        <button *ngIf="research.isCompleted" class="btn btn-outline-primary mt-2" (click)="goToParticipationFormPage()">Araştırmaya Katıl</button>
        <button *ngIf="!research.isCompleted" class="btn btn-outline-primary mt-2" (click)="toggleQuestions()">
          {{ showQuestions ? 'Soruları Gizle' : 'Soruları Görüntüle' }}
        </button>

        <div *ngIf="showQuestions">
          <h3 class="mt-3">Sorular:</h3>
          
          <div *ngIf="research.questions && hasRole(['Admin'])">
            <div *ngIf="research.questions.length === 0">
              <h5>Henüz Eklenmiş Soru Yok.</h5>
              <button class="btn btn-outline-primary" (click)="goToFormPage()">Soru Ekle</button>
            </div>
            <ul *ngIf="research.questions.length > 0">
              <li *ngFor="let question of research.questions; let i = index">
                <strong>Soru {{ i + 1 }}: {{ question.questionText }}</strong>
                <ul>
                  <li *ngFor="let option of question.options">{{ option.optionText }}</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div *ngIf="research && !research.isCompleted && isOwnResearch()" class="card p-4 mt-4">
    <button class="btn btn-outline-primary" (click)="viewResearchResults()">Araştırma Sonuçları</button>
 </div>

  <!-- Publish Button -->
  <div *ngIf="research && research.isCompleted&& isOwnResearch()" class="d-flex justify-content-end mt-4">
    <button class="btn btn-outline-primary" (click)="changeStatusResearch()">Yayınlamayı İptal Et</button>
  </div>
  <div *ngIf="research && !research.isCompleted&& isOwnResearch()" class="d-flex justify-content-end mt-4">
    <button class="btn btn-outline-primary" (click)="changeStatusResearch()">Yayınla</button>
  </div>
</div>
