
.main-content{
    margin-top: 60px;
    
    background-color: #f8f9fa;
    padding: 20px;
    
}
.login-content {
    
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Tüm ekran yüksekliği */
    background-color: #f8f9fa;
    margin: 0; /* Margin sıfırla */
    padding: 0; /* Padding sıfırla */
  }