.sidebar {
  top: 60px; /* Navbar yüksekliği kadar aşağıda başlasın */
  height: calc(100vh - 60px); /* Ekranın tamamını kapla ve navbar yüksekliğini çıkar */
  background-color: #333030; /* Sidebar rengi */
  width: 200px;
  padding-top: 20px; /* Üstten biraz boşluk bırak */
  overflow-y: auto; /* Scroll aktif et */
  transition: width 0.3s ease;
  z-index: 10;
}

.sidebar:hover {
  width: 250px;
}

.sidebar::-webkit-scrollbar {
  width: 8px; /* Scroll genişliği */
}

.sidebar::-webkit-scrollbar-track {
  background: transparent; /* Arka plan transparan */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #888; /* Scroll rengi */
  border-radius: 4px; /* Scroll kenarları yuvarlak */
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #555; /* Hover'da scroll rengi */
}

.sidebar:hover::-webkit-scrollbar-track {
  background-color: #333030; /* Hover'da scroll track arka plan */
}

.sidebar-header {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.2em; /* Başlık font boyutu */
  padding: 10px 15px; /* Başlık için iç boşluk */
  background-color: #444343; /* Başlık arka plan rengi */
  margin-bottom: 5px; /* Altına boşluk ekle */
}

.sidebar-item {
  display: flex; /* Flexbox ile ikon ve metni yan yana hizala */
  align-items: center; /* Dikey ortalama */
  padding: 10px 15px; /* İçerik için iç boşluk */
}

.sidebar-item i {
  margin-right: 10px; /* İkon ile metin arasında boşluk bırak */
  color: rgb(141, 150, 138); /* İkon rengi */
}

.list-group-item {
  background-color: #333030;
  border: 0;
}

.nav-link {
  color: rgb(141, 150, 138);
  text-decoration: none; /* Alt çizgiyi kaldır */
  flex: 1; /* Metni esnek hale getir */
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}
