<div class="sidebar position-fixed">
    <ul class="list-group">
      <li class="item list-group-item sidebar-item"><a href="articles" class="nav-link">Articles</a></li>
      <li class="list-group-item sidebar-item"><a href="add-article" class="nav-link">Researches</a></li>
      <li class="list-group-item sidebar-item"><a href="add-research-form" class="nav-link">Create Form</a></li>
      <li class="itemsettings list-group-item sidebar-item"><a href="#" class="nav-link">Settings</a></li>
    </ul>
  </div>
  